
.container {
    display: flex;
    border: solid;
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;

}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



button {
    padding: 15px;
    background-color: blanchedalmond;
    margin-right: 1000px;
}

.box {
    box-sizing: border-box;
}